<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
	<servlet>
  		<!-- 配置dispatcherServlet的默认名 -->
  		<servlet-name>dispatcherServlet</servlet-name>
  	
  		<!-- 配置DispatcherServlet类的路径 -->
  		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	
  		<!-- 配置初始化参数(配置加载Springmvc.xml的路径) -->
  		<init-param>
  			<!-- 配置参数名 -->
  			<param-name>contextConfigLocation</param-name>
  			<!-- 配置文件的路径 -->
  			<param-value>classpath:springmvc.xml</param-value>
  		</init-param>
  		<!-- 
  			配置dispatcherServlet加载的优先级
  			(如果不写默认在请求发出时加载，写1表示随着Servlet的加载而加载) 
  		-->
		<load-on-startup>1</load-on-startup>
 	</servlet>
  
  <!-- 配置映射路径 -->
	<servlet-mapping>
  		<servlet-name>dispatcherServlet</servlet-name>
  		<!-- "/"表示拦截所有Servlet中的映射 -->
  		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>
